* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', Arial, sans-serif;
    background-color: #262626;
    color: #d9d9d9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Main content */
main {
    max-width: 594px;
    max-height: 726px;
    background-color: #282726;

    /* Used to fix center alignment issues with max-width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header.header {
    text-align: center;
}

header.header > h1.title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #f9f4da;
}

header.header > p.instructions {
    font-size: 0.875rem;
    color: #8e8e8e;
    max-width: 350px;
}

/* Status section */
section.game-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f9f4da;
    border-radius: 5px;
    min-height: 60px;

    /* Ensures message box covers entire width */
    width: 100%;

    /* Sets top and bottom margins */
    margin-block: 25px;
}

section.game-status > h2 {
    margin: 5px;
    font-size: 1.25rem;
}

section.game-status > p {
    margin: 5px;
}

section.game-status > h2,
section.game-status > p {
    font-weight: 500;
}

/* Farewell message */
section.game-status > p.farewell-message {
    font-style: italic;
    font-weight: 400;
}

section.game-status.farewell {
    background-color: #7a5ea7;
    border: 1px dashed #323232;
}

/* Game won */
section.game-status.won {
    background-color: #10a95b;
}

/* Game lost */
section.game-status.lost {
    background-color: #ba2a2a;
}

/* Languages section */
section.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 350px;
    margin-bottom: 36px;
}

section.languages > span.language {
    padding: 4px;
    border-radius: 4px;

    /* Ensures that dimmed overlay stays on language block */
    position: relative;
}

/* Dimmed overlay with skull on "lost" languages */
section.languages > span.language.lost::before {
    content: '💀';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Word letter slots section */
section.word-section {
    /* Since the flex direction is row, justify content will center it horizontally */
    display: flex;
    justify-content: center;
    gap: 2px;
}

section.word-section > span.letter-slot {
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #f9f4da;
    border-bottom: 1px solid #f9f4da;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #323232;
}

/* Screen reader only word section */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Keyboard section */
section.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 450px;
    margin-top: 20px;
}

/* Letter keypads */
section.keyboard > button.letter-keypad {
    width: 35px;
    height: 35px;
    font-weight: 600;
    font-size: 1rem;
    background-color: #fcba29;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1e1e1e;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
}

section.keyboard > button.right-guess {
    background-color: #10a95b;
}

section.keyboard > button.wrong-guess {
    background-color: #ec5d49;
}

/* New game button */
button.new-game {
    background-color: #11b5e5;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    margin-top: 20px;
}
